* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-attachment: scroll;
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: orangered;
}

main {
    display: flex;
    width: 100%;
    width: auto;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.page-list {
    margin: 20px 20px;
}