* {
    box-sizing: border-box;

}

html {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #253E52;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
    padding: 0;
}

.browser-not-supported {
    width: 470px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(63, 78, 90, 0.108667);
    border-radius: 2px;
    padding-top: 46px;
}

.message-header {
    padding-bottom: 12px;
}

.message-content {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #325E82;
}

.message-field {
    width: 371px;
    height: 40px;
    margin: 0 auto;
}

.message-body {
    color: #325E82;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

.supported-browser {
    margin: 0 auto;
    padding: 32px 60px 45.13px 59px;
    display: flex;
    justify-content: center;
}

.message-button {
    margin: 0 auto;
    padding-bottom: 56px;
    display: flex;
    justify-content: center;
}

.button {
    color: #FFF;
    background: #25A0D4;
    border: 1px solid #25A0D4;
    border-radius: 2px;
    width: 102px;
    height: 32px;
}

.supported-browser img {
    padding-right: 25px;
    padding-left: 15px;
}