* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #00466d;
}

.comments-form {
    width: 340px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 9px;
    margin: 0 auto;
}

.form-header {
    color: #434444;
    text-align: center;
}

.form-field {
    width: 305px;
    height: 25px;
    background: #F1F1F1;
    border-radius: 5px;
    border: none;
}

textarea.form-field {
    height: 106px;
}

.comments-form div {
    margin-left: 18px;
    margin-top: 5px;
}

div.button-wrapper {
    margin-top: 20px;
    margin-bottom: 17px;
}

.btn {
    width: 305px;
    height: 35px;
    border: none;
    background: blue;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
}