* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-column {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: calc(100vh - 80px - 119px);
}

.page-header {
    height: 80px;
    background-color: #B155D1;
    width: 100%;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blue-block {
    display: flex;
    width: 26.7%;
    background-color: #1283D6;
}

.red-block {
    display: flex;
    flex-grow: 1;
    width: 47.3%;
    background-color: #FA6161;
}

.yellow-block {
    display: flex;
    width: 26%;
    background-color: #E1CB08;
}

.page-footer {
    display: flex;
    height: 119px;
    width: 100%;
    background-color: #55D162;
}

@media (max-width: 960px) {
    .page-column {
        flex-wrap: wrap;
    }

    .yellow-block {
        width: 100%;
    }

    .blue-block {
        flex-basis: auto;
    }

    .red-block {
        width: auto;
    }
}

@media (max-width: 574px) {
    .yellow-block {
        display: none;
    }

    .blue-block,
    .red-block {
        width: 100%;
    }
}