* {
    box-sizing: border-box;
}

html {
    font-family: var(--base-text-font);
    color: var(--base-text-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--base-bg-color);
}

a {
    text-decoration: none;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1464px;
    height: 100vh;
}

.page-tiles-area {
    max-width:
        display: flex;
}