* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bgr-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-entry {
    max-width: 1240px;
    width: 100%;
    display: flex;

}