* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-body {
    position: relative;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    width: 1200px;
    display: inline-block;
    border-bottom: 3px solid #998D8F;
    border-top: 3px solid orchid;
    position: sticky;
    top: 0;
    z-index: 999;
}

.page-nav {
    height: 100px;
    background: yellow;
    text-align: center;
}

.site-link {
    color: #998D8F;
    line-height: 100px;
    margin: 0 30px;

}

.site-link.active {
    color: powderblue;
}

.site-link:hover {
    color: orange;
}

.page-social {
    background: red;
}

.page-icons {
    height: 21px;
    position: absolute;
    top: 37.5%;
    right: 0;
}

.page-icons img {
    margin: 0 5px;
}

.page-heading {
    background: green;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-bottom: 36px;
    margin-top: 32px;
}

.page-logo {
    color: #000;
    text-transform: uppercase;
}

.page-content {
    background: greenyellow;
    width: 1200px;
    display: flex;
    height: calc(100vh-100px-25px);
}

.page-col1 {
    background: indigo;
    width: 33.3333%;
    height: 520px;
    background-image: url(./assets/img1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.page-col2 {
    background: red;
    width: 33.3333%;
    height: 520px;
    margin-left: 15px;
    position: relative;

}

.page-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


.page-text {}

.page-btn-order {
    margin-top: 40px;
    border: none;
    background: #FFF;
    padding: 15px 50px;
    border: 2px solid white;
    color: #292325;
}

.page-btn-order:hover {
    border: 2px solid black;
}

.page-col3 {
    background: yellow;
    width: 33.3333%;
    height: 520px;
    margin-left: 15px;
    background-image: url(./assets/img2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.page-footer {
    background: orangered;
    height: 25px;
    position: relative;
    top: 0;
    bottom: 0;
}